.saved1 {
  position: absolute;
  top: calc(50% - 386px);
  left: calc(50% - 81px);
  font-size: var(--font-size-11xl);
  letter-spacing: -0.24px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-darkorange-100);
  width: 143px;
  height: 33px;
}
.preferences-icon2 {
  position: absolute;
  top: 46px;
  left: 336px;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.home-indicator10 {
  position: absolute;
  bottom: 28px;
  left: calc(50% - 77px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.back-arrow-icon5,
.image-1-icon2 {
  position: absolute;
  top: 42px;
  left: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.image-1-icon2 {
  top: 15px;
  left: 17px;
  border-radius: var(--br-3xs);
  width: 330px;
  height: 184px;
}
.letter-1,
.name-1 {
  position: absolute;
  letter-spacing: -0.24px;
  display: inline-block;
}
.name-1 {
  top: 204px;
  left: 24px;
  text-align: left;
  width: 183px;
  height: 24px;
}
.letter-1 {
  top: 54.8px;
  left: 0;
  width: 90.8px;
  height: 11.2px;
}
.picture-1-icon {
  position: absolute;
  top: 1px;
  left: 18.3px;
  width: 61.4px;
  height: 59.4px;
  object-fit: cover;
}
.profile-pic {
  position: absolute;
  top: 208.2px;
  left: 271px;
  width: 90.8px;
  height: 65.9px;
  font-size: var(--font-size-3xs);
}
.month4 {
  position: relative;
  font-weight: 500;
}
.price5 {
  position: absolute;
  top: 253px;
  left: 24px;
  border-radius: var(--br-7xs);
  background-color: var(--color-sandybrown-100);
  backdrop-filter: blur(4px);
  border: 0.5px solid var(--color-darkorange-500);
  box-sizing: border-box;
  width: 110px;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--default-bold-subheadline-size);
  color: var(--color-snow);
  font-family: var(--default-bold-subheadline);
}
.map-pin-icon4 {
  position: relative;
  width: 10.7px;
  height: 10.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.morningside-heights {
  position: relative;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 218.1px;
  height: 13.8px;
  flex-shrink: 0;
}
.info4 {
  position: absolute;
  top: 233.3px;
  left: 24px;
  width: 232.4px;
  height: 13.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  font-size: var(--font-size-xs);
  font-family: var(--default-bold-subheadline);
}
.listing-11 {
  position: absolute;
  top: 98px;
  left: 10px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-300);
  border: 3px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 365px;
  height: 290px;
}
.image-2-icon2 {
  position: absolute;
  top: 0;
  left: 18.3px;
  width: 59px;
  height: 54px;
  object-fit: cover;
}
.archive-card {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-300);
  border: 3px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 365px;
  height: 290px;
}
.map-pin-icon5,
.west-village {
  position: relative;
  flex-shrink: 0;
}
.map-pin-icon5 {
  width: 12px;
  height: 10.3px;
  overflow: hidden;
}
.west-village {
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 148px;
  height: 13.8px;
}
.info5 {
  position: absolute;
  top: 234px;
  left: 25px;
  width: 165px;
  height: 13.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: var(--font-size-xs);
  font-family: var(--default-bold-subheadline);
}
.listing-21 {
  position: absolute;
  top: 407px;
  left: 10px;
  width: 365px;
  height: 290px;
}
.notch-icon9 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 39px);
  top: 0;
  right: 20px;
  bottom: 2px;
  left: 19px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.right-side-icon18 {
  position: absolute;
  top: 17.3px;
  right: 14.6px;
  width: 66.7px;
  height: 11.3px;
  display: none;
}
.div21,
.left-side9,
.time13 {
  position: absolute;
  width: 54px;
}
.div21 {
  top: 1px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.left-side9,
.time13 {
  height: 21px;
}
.time13 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
}
.left-side9 {
  top: 12px;
  left: 24px;
  display: none;
}
.status-bar-iphone-x-or-newe9 {
  position: absolute;
  top: 0;
  left: 42px;
  width: 258px;
  height: 32px;
  overflow: hidden;
}
.div22 {
  position: absolute;
  top: 12px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}
.right-side-icon19 {
  position: absolute;
  top: 16px;
  right: 0;
  width: 66.7px;
  height: 11.3px;
}
.iphone-top9 {
  position: absolute;
  top: 0;
  left: 19px;
  width: 346.7px;
  height: 32px;
  font-size: var(--default-bold-subheadline-size);
  font-family: var(--default-bold-subheadline);
}
.icon-box4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-400);
  width: 370px;
  height: 96px;
}
.chat-icon4,
.home-outline-icon4 {
  position: absolute;
  top: 15px;
  left: 31px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.home-outline-icon4 {
  top: 0;
  left: 0;
}
.home-left-fill4,
.home-right-fill4 {
  position: absolute;
  top: 28px;
  left: 13px;
  background-color: var(--system-background-light-primary);
  width: 13px;
  height: 26px;
}
.home-left-fill4 {
  left: 39px;
}
.home-top-fill4 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 44px;
  height: 24px;
}
.home-icon4,
.profile-icon4 {
  position: absolute;
  top: 15px;
  left: 153px;
  width: 64px;
  height: 64px;
}
.profile-icon4 {
  top: 17px;
  left: 275px;
  object-fit: cover;
}
.bottom-panel4 {
  position: absolute;
  top: 723px;
  left: 10px;
  width: 370px;
  height: 96px;
}
.saved {
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--system-background-light-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 10px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--label-color-light-primary);
  font-family: var(--font-arial);
}
