.notch-icon6 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 39px);
  top: 0;
  right: 20px;
  bottom: 2px;
  left: 19px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.right-side-icon12 {
  position: absolute;
  top: 17.3px;
  right: 14.6px;
  width: 66.7px;
  height: 11.3px;
  display: none;
}
.div11,
.left-side6,
.time9 {
  position: absolute;
  width: 54px;
}
.div11 {
  top: 1px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.left-side6,
.time9 {
  height: 21px;
}
.time9 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
}
.left-side6 {
  top: 12px;
  left: 24px;
  display: none;
}
.status-bar-iphone-x-or-newe6 {
  position: absolute;
  top: 0;
  left: 42px;
  width: 258px;
  height: 32px;
  overflow: hidden;
}
.time10 {
  position: absolute;
  top: 12px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}
.right-side-icon13 {
  position: absolute;
  top: 16px;
  right: 0;
  width: 66.7px;
  height: 11.3px;
}
.iphone-top6 {
  position: absolute;
  top: 0;
  left: 24px;
  width: 346.7px;
  height: 32px;
  font-size: var(--subheadline-regular-size);
  font-family: var(--subheadline-regular);
}
.logo3 {
  position: absolute;
  top: calc(50% - 386px);
  left: calc(50% - 49px);
  font-size: var(--font-size-11xl);
  letter-spacing: -0.24px;
  display: inline-block;
  color: var(--color-darkorange-100);
  width: 77px;
  height: 33px;
}
.home-indicator7 {
  position: absolute;
  bottom: 28px;
  left: calc(50% - 77px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.back-arrow-icon3 {
  position: absolute;
  top: 39px;
  left: 12px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.icon-box2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-darkorange-400);
  width: 370px;
  height: 96px;
}
.chat-icon2,
.home-outline-icon2 {
  position: absolute;
  top: 15px;
  left: 31px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.home-outline-icon2 {
  top: 0;
  left: 0;
}
.home-left-fill2,
.home-right-fill2 {
  position: absolute;
  top: 28px;
  left: 13px;
  background-color: var(--system-background-light-primary);
  width: 13px;
  height: 26px;
}
.home-left-fill2 {
  left: 39px;
}
.home-top-fill2 {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 44px;
  height: 24px;
}
.home-icon2,
.profile-icon2 {
  position: absolute;
  top: 15px;
  left: 153px;
  width: 64px;
  height: 64px;
}
.profile-icon2 {
  top: 17px;
  left: 275px;
  object-fit: cover;
}
.account-child,
.bottom-panel2 {
  position: absolute;
  top: 729px;
  left: 13px;
  width: 370px;
  height: 96px;
}
.account-child {
  top: 199.5px;
  left: 5px;
  width: 396px;
  height: 1px;
}
.account-child1,
.account-inner,
.account-item {
  position: absolute;
  top: 328.5px;
  left: 2px;
  width: 396px;
  height: 1px;
}
.account-child1,
.account-inner {
  top: 457.5px;
  left: 0;
}
.account-child1 {
  top: 653.5px;
  left: 5px;
}
.roommate-gender-preference {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: -0.24px;
  display: inline-block;
  width: 367px;
  height: 38px;
}
.roommate-gender-preference-child,
.roommate-gender-preference-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--system-background-light-primary);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 137px;
  height: 43px;
}
.roommate-gender-preference-item {
  left: 94px;
  background-color: var(--color-lightgray-200);
  width: 43px;
}
.female {
  position: absolute;
  top: 8px;
  left: 13px;
  letter-spacing: -0.24px;
}
.image-1-icon {
  position: absolute;
  top: 10px;
  left: 103px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.roommate-gender-preference1 {
  position: absolute;
  top: 46px;
  left: 30px;
  width: 137px;
  height: 43px;
  font-size: var(--default-regular-title2-size);
}
.roomate-gender {
  position: absolute;
  top: 220px;
  left: 22px;
  width: 367px;
  height: 89px;
}
.number-of-bedrooms {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: -0.24px;
  display: inline-block;
  width: 400px;
  height: 38px;
}
.bedrooms-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--system-background-light-primary);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 308px;
  height: 43px;
}
.b4,
.div12,
.div13,
.div14,
.div15,
.studio {
  position: absolute;
  top: 7px;
  left: 21px;
  letter-spacing: -0.24px;
}
.b4,
.div12,
.div13,
.div14,
.div15 {
  top: 8px;
  left: 143px;
}
.b4,
.div13,
.div14,
.div15 {
  left: 181px;
}
.b4,
.div14,
.div15 {
  left: 223px;
}
.b4,
.div15 {
  left: 265px;
}
.b4 {
  left: 103px;
}
.bedrooms-inner,
.bedrooms-item {
  position: absolute;
  top: 4.5px;
  left: 90.5px;
  width: 1px;
  height: 34px;
}
.bedrooms-inner {
  top: 5px;
  left: 128.5px;
}
.bedrooms-child1,
.bedrooms-child2,
.bedrooms-child3,
.bedrooms1 {
  position: absolute;
  top: 5px;
  left: 167.5px;
  width: 1px;
  height: 34px;
}
.bedrooms-child2,
.bedrooms-child3,
.bedrooms1 {
  left: 208.5px;
}
.bedrooms-child3,
.bedrooms1 {
  left: 250.5px;
}
.bedrooms1 {
  top: 45px;
  left: 46px;
  width: 308px;
  height: 43px;
  font-size: var(--default-regular-title2-size);
}
.bedrooms {
  position: absolute;
  top: 92px;
  left: 6px;
  width: 400px;
  height: 88px;
}
.price-range-month {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: -0.24px;
  display: inline-block;
  width: 387px;
  height: 38px;
}
.price-slider-line,
.slider-1 {
  position: absolute;
  top: 8px;
  left: 20px;
  width: 298px;
  height: 4px;
}
.slider-1 {
  top: 0;
  left: 89px;
  border-radius: 50%;
  background-color: var(--label-color-light-primary);
  width: 19px;
  height: 19px;
}
.div16,
.k {
  position: absolute;
  top: 25px;
  left: 0;
  letter-spacing: -0.24px;
}
.k {
  left: 289px;
}
.price,
.slider-2 {
  position: absolute;
  top: 40px;
  left: 29px;
  width: 344px;
  height: 48px;
}
.slider-2 {
  left: 260px;
  border-radius: 50%;
  background-color: var(--label-color-light-primary);
  width: 19px;
  height: 19px;
}
.price-range {
  position: absolute;
  top: 349px;
  left: 9px;
  width: 387px;
  height: 88px;
}
.housing-neighbourhoods-of {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: -0.24px;
  display: inline-block;
  width: 395px;
  height: 47px;
}
.click-here-to-container {
  position: absolute;
  top: 29px;
  left: 38px;
  letter-spacing: -0.24px;
}
.max,
.min,
.neighbourhood {
  position: absolute;
  top: 661px;
  left: -3px;
  width: 395px;
  height: 52px;
}
.max,
.min {
  top: 408px;
  left: 108px;
  letter-spacing: -0.24px;
  font-family: var(--font-inter);
  display: inline-block;
  width: 57px;
  height: 20px;
}
.max {
  left: 250px;
}
.elevator-in-building,
.heater,
.wifi-included {
  position: absolute;
  top: 0;
  left: 21px;
  letter-spacing: -0.24px;
}
.elevator-in-building,
.heater {
  top: 29px;
}
.elevator-in-building {
  top: 58px;
}
.general-preferences-right-child,
.general-preferences-right-inner,
.general-preferences-right-item {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--system-background-light-primary);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.general-preferences-right-inner,
.general-preferences-right-item {
  top: 34px;
}
.general-preferences-right-inner {
  top: 63px;
}
.general-preferences-right-child1,
.general-preferences-right-child2 {
  position: absolute;
  top: 1.4px;
  left: 2.2px;
  width: 15.6px;
  height: 16.8px;
}
.general-preferences-right-child2 {
  top: 29.4px;
}
.general-preferences-right {
  position: absolute;
  top: 45px;
  left: 200px;
  width: 196px;
  height: 82px;
  font-family: var(--font-inter);
}
.ac,
.laundry-in-unit,
.min-walk-to,
.pet-friendly {
  position: absolute;
  top: 0;
  left: 27px;
  letter-spacing: -0.24px;
}
.ac,
.min-walk-to,
.pet-friendly {
  top: 29px;
  left: 26px;
}
.min-walk-to,
.pet-friendly {
  top: 58px;
}
.min-walk-to {
  top: 87px;
}
.general-preferences-left-child,
.general-preferences-left-inner,
.general-preferences-left-item,
.rectangle-div {
  position: absolute;
  top: 5px;
  left: 1px;
  background-color: var(--system-background-light-primary);
  border: 1px solid var(--label-color-light-primary);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.general-preferences-left-inner,
.general-preferences-left-item,
.rectangle-div {
  top: 34px;
}
.general-preferences-left-inner,
.rectangle-div {
  top: 63px;
}
.rectangle-div {
  top: 92px;
  left: 0;
}
.general-preferences-left1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 110px;
}
.general-preferences-left-child1,
.general-preferences-left-child2 {
  position: absolute;
  top: 29.4px;
  left: 4.2px;
  width: 15.6px;
  height: 16.8px;
}
.general-preferences-left-child2 {
  top: 87.4px;
}
.general-preferences-left {
  position: absolute;
  top: 45px;
  left: 17px;
  width: 281px;
  height: 110px;
}
.account,
.general-preferences {
  position: absolute;
  top: 482px;
  left: -10px;
  width: 396px;
  height: 155px;
}
.account {
  top: -10px;
  border-radius: var(--br-26xl);
  background-color: var(--system-background-light-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 10px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 410px;
  height: 864px;
  overflow: hidden;
}
.account-master {
  position: relative;
  width: 100%;
  height: 844px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--label-color-light-primary);
  font-family: var(--font-arial);
}
