.rectangle-encapsulator-icon {
  position: absolute;
  top: 0;
  left: -4px;
  width: 353px;
  height: 1076px;
}
.month2,
.name2,
.price3 {
  position: absolute;
  -webkit-text-stroke: 0.5px rgba(228, 220, 212, 0.6);
}
.name2 {
  top: 368px;
  left: 15px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-arial);
}
.month2,
.price3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price3 {
  top: 0;
  left: 0;
  font-weight: 500;
  width: 108px;
  height: 33px;
}
.month2 {
  top: 12px;
  left: 107px;
  font-size: var(--font-size-xl);
  font-family: var(--font-arial);
  width: 63px;
  height: 18px;
}
.pricemo {
  position: absolute;
  top: 431px;
  left: 14px;
  width: 170px;
  height: 33px;
  font-size: var(--font-size-13xl);
}
.map-pin-icon2 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.greenwich-village {
  position: absolute;
  top: 0;
  left: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.info2 {
  position: absolute;
  top: 409px;
  left: 15px;
  width: 247px;
  height: 16px;
}
.room-available {
  position: relative;
  font-weight: 600;
}
.rooms {
  position: absolute;
  top: 475px;
  left: 19px;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkorange-700);
  backdrop-filter: blur(4px);
  border: 0.5px solid var(--color-darkorange-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  color: var(--system-background-light-primary);
}
.amenities,
.subway-lines-nearby {
  position: absolute;
  top: 601px;
  left: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.amenities {
  top: 687px;
  left: 19px;
}
.line-1-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-steelblue);
  width: 31.6px;
  height: 31.6px;
}
.a {
  position: absolute;
  top: 7px;
  left: 9px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 14.2px;
  height: 12.6px;
}
.c,
.line-1-circle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.6px;
  height: 31.6px;
}
.c {
  top: 7px;
  left: 8.4px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 14.2px;
  height: 12.6px;
}
.e,
.line-2-circle-parent {
  position: absolute;
  top: 0;
  left: 45.6px;
  width: 31.6px;
  height: 31.6px;
}
.e {
  top: 7px;
  left: 8.8px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 13.4px;
  height: 12.6px;
}
.line-3-circle-parent,
.line-4-circle {
  position: absolute;
  top: 0;
  left: 91.2px;
  width: 31.6px;
  height: 31.6px;
}
.line-4-circle {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkorange-200);
}
.b5 {
  position: absolute;
  top: 7px;
  left: 9.1px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 14.2px;
  height: 12.6px;
}
.d,
.line-4-circle-parent {
  position: absolute;
  top: 0;
  left: 136.9px;
  width: 31.6px;
  height: 31.6px;
}
.d {
  top: 7px;
  left: 8.5px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 14.2px;
  height: 12.6px;
}
.f,
.line-5-circle-parent {
  position: absolute;
  top: 0;
  left: 182.5px;
  width: 31.6px;
  height: 31.6px;
}
.f {
  top: 7px;
  left: 9.9px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 11.9px;
  height: 12.6px;
}
.line-6-circle-parent,
.m {
  position: absolute;
  top: 0;
  left: 228.1px;
  width: 31.6px;
  height: 31.6px;
}
.m {
  top: 7px;
  left: 8.3px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 15.8px;
  height: 12.6px;
}
.line-7-circle-parent,
.subway-lines {
  position: absolute;
  top: 0;
  left: 273.7px;
  width: 31.6px;
  height: 31.6px;
}
.subway-lines {
  top: 635px;
  left: 17px;
  width: 305.3px;
  font-size: var(--default-regular-title2-size);
  color: var(--system-background-light-primary);
  font-family: var(--font-helvetica);
}
.wifi-included3 {
  margin-bottom: 0;
}
.wifi-included2 {
  margin: 0;
  padding-left: var(--padding-2xl);
}
.dog-friendly,
.in-unit-laundry,
.wifi-included1 {
  position: absolute;
  top: 714px;
  left: 1px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: flex;
  align-items: center;
  width: 140px;
  height: 44px;
}
.dog-friendly,
.in-unit-laundry {
  top: 737px;
  left: 10px;
  width: 116px;
  height: 21px;
}
.in-unit-laundry {
  top: 714px;
  left: 135px;
  width: 164px;
  height: 44px;
}
.message-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-sandybrown-100);
  width: 151px;
  height: 46px;
}
.message6 {
  position: absolute;
  top: 11px;
  left: 31px;
  font-weight: 600;
}
.archive-rectangle,
.message-button {
  position: absolute;
  width: 151px;
  height: 46px;
}
.message-button {
  top: 997px;
  left: 175px;
  font-size: var(--font-size-xl);
  color: var(--system-background-light-primary);
}
.archive-rectangle {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-navajowhite);
}
.archive {
  position: absolute;
  top: 11px;
  left: 38px;
  font-weight: 600;
}
.archive-button {
  position: absolute;
  top: 997px;
  left: 15px;
  width: 151px;
  height: 46px;
  font-size: var(--font-size-xl);
  color: var(--system-background-light-primary);
}
.hosted-by,
.letter-names {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter-names {
  top: 36px;
  left: 136px;
  width: 126px;
  height: 18px;
  -webkit-text-stroke: 0.5px rgba(228, 220, 212, 0.6);
}
.hosted-by {
  top: 17px;
  left: 138px;
  font-size: var(--font-size-xs);
  color: var(--color-darkorange-800);
  width: 56px;
  height: 17px;
}
.second-letter-icon {
  position: absolute;
  top: 1px;
  left: 52px;
  width: 69px;
  height: 69px;
  object-fit: cover;
}
.first-letter-icon,
.letters {
  position: absolute;
  height: 70px;
}
.first-letter-icon {
  top: 0;
  left: 0;
  width: 70px;
  object-fit: cover;
}
.letters {
  top: 515px;
  left: 18px;
  width: 262px;
  font-size: var(--font-size-xl);
  font-family: var(--font-arial);
}
.image-icon,
.map-pic-icon1,
.x-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 357px;
  object-fit: cover;
}
.map-pic-icon1,
.x-icon {
  top: 776px;
  left: 18px;
  width: 310px;
  height: 203px;
}
.x-icon {
  top: 0;
  left: 294px;
  width: 50px;
  height: 50px;
}
.area-circle-icon,
.expanded-1 {
  position: absolute;
  top: 839px;
  left: 141px;
  width: 68px;
  height: 66px;
}
.expanded-1 {
  top: 0;
  left: 0;
  width: 345px;
  height: 1068px;
}
.expanded-master {
  position: relative;
  width: 100%;
  height: 1068px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--label-color-light-primary);
  font-family: var(--subheadline-regular);
}
