.home-indicator {
  position: absolute;
  bottom: 28px;
  left: calc(50% - 76px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.button {
  position: relative;
  line-height: 125%;
  font-weight: 600;
}
.button-primary,
.button-secondary {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 324px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-133xl);
  box-sizing: border-box;
}
.button-primary {
  top: 194px;
  background-color: var(--system-background-light-primary);
  color: var(--color-sandybrown-300);
}
.button-secondary {
  top: 264px;
  background-color: var(--color-orangered);
}
.finding-you-a,
.lettr {
  position: absolute;
  letter-spacing: -0.24px;
  display: inline-block;
}
.finding-you-a {
  top: 132px;
  left: calc(50% - 134px);
  font-size: var(--font-size-8xl);
  width: 268px;
  height: 48px;
}
.lettr {
  top: calc(50% - 160px);
  left: calc(50% - 137px);
  font-size: var(--font-size-91xl);
  width: 264px;
  height: 118px;
}
.main-content {
  position: absolute;
  top: 196px;
  left: 38px;
  width: 324px;
  height: 320px;
}
.notch-icon {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 39px);
  top: 0;
  right: 20px;
  bottom: 2px;
  left: 19px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.right-side-icon {
  position: absolute;
  top: 17.3px;
  right: 14.6px;
  width: 66.7px;
  height: 11.3px;
  display: none;
}
.div,
.left-side,
.time {
  position: absolute;
  width: 54px;
}
.div {
  top: 1px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.left-side,
.time {
  height: 21px;
}
.time {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
}
.left-side {
  top: 12px;
  left: 24px;
  display: none;
}
.status-bar-iphone-x-or-newe {
  position: absolute;
  top: 0;
  left: 42px;
  width: 258px;
  height: 32px;
  overflow: hidden;
}
.div1 {
  position: absolute;
  top: 12px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 54px;
  height: 20px;
}
.right-side-icon1 {
  position: absolute;
  top: 16px;
  right: 0;
  width: 66.7px;
  height: 11.3px;
}
.iphone-top {
  position: absolute;
  top: 0;
  left: 15px;
  width: 346.7px;
  height: 32px;
  font-size: var(--subheadline-regular-size);
  color: var(--label-color-light-primary);
  font-family: var(--subheadline-regular);
}
.main {
  position: relative;
  border-radius: var(--br-26xl);
  background-color: var(--color-darkorange-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 10px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: center;
  font-size: var(--default-regular-callout-size);
  color: var(--system-background-light-primary);
  font-family: var(--font-inter);
}
