<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/global-acc.css" />
    <link rel="stylesheet" href="../static/css/styleguide-acc.css" />
    <link rel="stylesheet" href="../static/css/style-acc.css" />
  </head>
  <body>
    <div class="ACCOUNT-MASTER">
      <div class="ACCOUNT-wrapper">
        <div class="ACCOUNT">
          <div class="iphone-top">
            <div class="overlap-group">
              <div class="status-bar-iphone-x">
                <div class="notch"><img class="img" src="../static/img/notch-11.svg" /></div>
              </div>
              <div class="time">9:41</div>
              <img class="right-side" src="../static/img/right-side-8.png" />
            </div>
          </div>
          <div class="logo">Lettr</div>
          <img class="back-arrow" src="../static/img/back-arrow.png" />
          <img class="vector" src="../static/img/vector-5.svg" />
          <img class="vector-2" src="../static/img/vector-2.svg" />
          <img class="vector-3" src="../static/img/vector-4.svg" />
          <img class="vector-4" src="../static/img/vector-5.svg" />
          <div class="roomate-gender">
            <p class="text-wrapper">Roommate gender preference (if any):</p>
            <div class="roommate-gender">
              <div class="div">
                <div class="overlap"><img class="image" src="../static/img/image-1.png" /></div>
                <div class="text-wrapper-2">female</div>
              </div>
            </div>
          </div>
          <div class="bedrooms">
            <div class="text-wrapper-3">Number of bedrooms:</div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="text-wrapper-4">studio</div>
                <div class="text-wrapper-5">2</div>
                <div class="text-wrapper-6">3</div>
                <div class="text-wrapper-7">4</div>
                <div class="text-wrapper-8">5+</div>
                <div class="text-wrapper-9">1</div>
                <img class="vector-5" src="../static/img/vector-10.svg" />
                <img class="vector-6" src="../static/img/vector-14.svg" />
                <img class="vector-7" src="../static/img/vector-14.svg" />
                <img class="vector-8" src="../static/img/vector-14.svg" />
                <img class="vector-9" src="../static/img/vector-14.svg" />
              </div>
            </div>
          </div>
          <div class="overlap-2">
            <div class="price-range">
              <div class="text-wrapper-10">Price range ($/month):</div>
              <div class="overlap-3">
                <div class="price">
                  <div class="overlap-group-3">
                    <img class="price-slider-line" src="../static/img/price-slider-line.png" />
                    <div class="slider"></div>
                  </div>
                  <div class="text-wrapper-11">$900</div>
                  <div class="text-wrapper-12">$10k+</div>
                </div>
                <div class="slider-2"></div>
              </div>
            </div>
            <div class="text-wrapper-13">min</div>
            <div class="text-wrapper-14">max</div>
          </div>
          <div class="neighbourhood">
            <div class="overlap-4">
              <div class="text-wrapper-15">Housing neighbourhoods of interest:</div>
              <p class="click-here-to-view">
                <span class="span">Click </span>
                <span class="text-wrapper-16">here</span>
                <span class="span"> to view map of Manhattan</span>
              </p>
            </div>
          </div>
          <div class="general-preferences">
            <div class="overlap-5">
              <div class="general-preferences-2">
                <div class="text-wrapper-17">WiFi included</div>
                <div class="text-wrapper-18">Heater</div>
                <div class="text-wrapper-19">Elevator in building</div>
                <div class="overlap-6">
                  <div class="rectangle"></div>
                  <img class="vector-10" src="../static/img/vector-9.svg" />
                </div>
                <div class="overlap-group-4">
                  <div class="rectangle-2"></div>
                  <img class="vector-10" src="../static/img/vector-9.svg" />
                </div>
                <div class="rectangle-3"></div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-7">
                  <div class="general-preferences-3">
                    <div class="text-wrapper-20">Laundry in-unit</div>
                    <div class="text-wrapper-21">AC</div>
                    <div class="text-wrapper-22">Pet-Friendly</div>
                    <p class="element-walk-to-subway">&lt;5min walk to subway station</p>
                    <div class="rectangle-4"></div>
                    <div class="rectangle-5"></div>
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                  </div>
                  <img class="vector-11" src="../static/img/vector-9.svg" />
                  <img class="vector-12" src="../static/img/vector-9.svg" />
                </div>
              </div>
            </div>
            <div class="text-wrapper-10">General preferences:</div>
          </div>
          <div class="iphone-bottom">
            <div class="overlap-8">
              <div class="bottom-panel-updated">
                <a href="{{ url_for('chat') }}">
                <button>
                <img class="chat-icon" src="../static/img/chat-icon.png" />
                </button>
                </a>
                <a href="{{ url_for('personal') }}">
                <button>
                <img class="profile-button" src="../static/img/profile-button.png" />
                </button>
                </a>
                <a href="{{ url_for('swipe') }}">
                  <button>
                <div class="home-icon">
                  <div class="overlap-group-5">
                    <div class="home-right-fill"></div>
                    <div class="home-left-fill"></div>
                    <img class="home-top-fill" src="../static/img/home-top-fill.svg" />
                  </div>
                </div>
              </div>
              <div class="home-indicator"></div>
              </button>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
