<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/accountmaster.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Display:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="account-master">
      <div class="account">
        <div class="iphone-top6">
          <div class="status-bar-iphone-x-or-newe6">
            <img class="notch-icon6" alt="" src="../static/img/notch.svg" />

            <img
              class="right-side-icon12"
              alt=""
              src="../static/img/right-side.svg"
            />

            <div class="left-side6">
              <div class="time9">
                <div class="div11">9:41</div>
              </div>
            </div>
          </div>
          <div class="time10">9:41</div>
          <img
            class="right-side-icon13"
            alt=""
            src="../static/img/right-side1.svg"
          />
        </div>
        <b class="logo3">Lettr</b>
        <div class="home-indicator7"></div>
        <img class="back-arrow-icon3" alt="" src="../static/img/back-arrow@2x.png" />

        <div class="bottom-panel2">
          <div class="icon-box2"></div>
          <a href="{{ url_for('chat') }}">
          <button>
          <img class="chat-icon2" alt="" src="../static/img/chat-icon@2x.png" />
          </button>
          </a>
          <div class="home-icon2">
            <a href="{{ url_for('swipe') }}">
            <button>
            <img
              class="home-outline-icon2"
              alt=""
              src="../static/img/home-outline@2x.png"
            />
            
            <div class="home-right-fill2"></div>
            <div class="home-left-fill2"></div>
            <img
              class="home-top-fill2"
              alt=""
              src="../static/img/home-top-fill.svg"
            />
            </button>
            </a>
          </div>
          <a href="{{ url_for('personal') }}">
          <button>
          <img
            class="profile-icon2"
            alt=""
            src="../static/img/profile-icon@2x.png"
          />
          </button>
          </a>
        </div>
        <img class="account-child" alt="" src="../static/img/vector-1.svg" />

        <img class="account-item" alt="" src="../static/img/vector-1.svg" />

        <img class="account-inner" alt="" src="../static/img/vector-1.svg" />

        <img class="account-child1" alt="" src="../static/img/vector-1.svg" />

        <div class="roomate-gender">
          <div class="roommate-gender-preference">
            Roommate gender preference (if any):
          </div>
          <div class="roommate-gender-preference1">
            <div class="roommate-gender-preference-child"></div>
            <div class="roommate-gender-preference-item"></div>
            <div class="female">female</div>
            <img class="image-1-icon" alt="" src="../static/img/image-11@2x.png" />
          </div>
        </div>
        <div class="bedrooms">
          <div class="number-of-bedrooms">Number of bedrooms:</div>
          <div class="bedrooms1">
            <div class="bedrooms-child"></div>
            <div class="studio">studio</div>
            <div class="div12">2</div>
            <div class="div13">3</div>
            <div class="div14">4</div>
            <div class="div15">5+</div>
            <b class="b4">1</b>
            <img class="bedrooms-item" alt="" src="../static/img/vector-10.svg" />

            <img class="bedrooms-inner" alt="" src="../static/img/vector-11.svg" />

            <img class="bedrooms-child1" alt="" src="../static/img/vector-11.svg" />

            <img class="bedrooms-child2" alt="" src="../static/img/vector-11.svg" />

            <img class="bedrooms-child3" alt="" src="../static/img/vector-11.svg" />
          </div>
        </div>
        <div class="price-range">
          <div class="price-range-month">Price range ($/month):</div>
          <div class="price">
            <img
              class="price-slider-line"
              alt=""
              src="../static/img/price-slider-line.svg"
            />

            <div class="slider-1"></div>
            <div class="div16">$900</div>
            <div class="k">$10k+</div>
          </div>
          <div class="slider-2"></div>
        </div>
        <div class="neighbourhood">
          <div class="housing-neighbourhoods-of">
            Housing neighbourhoods of interest:
          </div>
          <div class="click-here-to-container">
            <span>Click </span>
            <b>here</b>
            <span> to view map of Manhattan</span>
          </div>
        </div>
        <div class="min">min</div>
        <div class="max">max</div>
        <div class="general-preferences">
          <div class="general-preferences-right">
            <div class="wifi-included">WiFi included</div>
            <div class="heater">Heater</div>
            <div class="elevator-in-building">Elevator in building</div>
            <div class="general-preferences-right-child"></div>
            <div class="general-preferences-right-item"></div>
            <div class="general-preferences-right-inner"></div>
            <img
              class="general-preferences-right-child1"
              alt=""
              src="../static/img/vector-7.svg"
            />

            <img
              class="general-preferences-right-child2"
              alt=""
              src="../static/img/vector-7.svg"
            />
          </div>
          <div class="general-preferences-left">
            <div class="general-preferences-left1">
              <div class="laundry-in-unit">Laundry in-unit</div>
              <div class="ac">AC</div>
              <div class="pet-friendly">Pet-Friendly</div>
              <div class="min-walk-to">&lt;5min walk to subway station</div>
              <div class="general-preferences-left-child"></div>
              <div class="general-preferences-left-item"></div>
              <div class="general-preferences-left-inner"></div>
              <div class="rectangle-div"></div>
            </div>
            <img
              class="general-preferences-left-child1"
              alt=""
              src="../static/img/vector-7.svg"
            />

            <img
              class="general-preferences-left-child2"
              alt=""
              src="../static/img/vector-7.svg"
            />
          </div>
          <div class="price-range-month">General preferences:</div>
        </div>
      </div>
    </div>
  </body>
</html>
