<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/final-saved.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="final-saved">
      <div class="saved">
        <b class="saved1">Saved</b>
        <img
          class="preferences-icon"
          alt=""
          src="../static/img/preferences-icon@2x.png"
        />

        <img class="back-button-icon" alt="" src="../static/img/back-arrow@2x.png" />

        <div class="saved-1">
          <img
            class="saved-1-image"
            alt=""
            src="../static/img/saved-1-image@2x.png"
          />

          <b class="name">3009 Broadway</b>
          <div class="price">
            <div class="price-text">
              <div class="month">$2000/month</div>
            </div>
          </div>
          <div class="dates">
            <div class="price-text">
              <div class="month">June 1 - August 1</div>
            </div>
          </div>
          <div class="info-1">
            <img class="map-pin-icon" alt="" src="../static/img/mappin3.svg" />

            <div class="morningside-heights">
              Morningside heights • 2 BED : 1 BATH
            </div>
          </div>
          <div class="ellipse-parent">
            <div class="group-child"></div>
            <img
              class="icons8-trash-60-1"
              alt=""
              src="../static/img/icons8trash60-1@2x.png"
            />
          </div>
          <div class="ellipse-group">
            <div class="group-child"></div>
            <img
              class="icons8-message-96-1-1"
              alt=""
              src="../static/img/icons8message96-1-11@2x.png"
            />
          </div>
        </div>
        <div class="iphone-top1">
          <div class="status-bar-iphone-x-or-newe1">
            <img class="notch-icon1" alt="" src="../static/img/notch.svg" />

            <img
              class="right-side-icon2"
              alt=""
              src="../static/img/right-side.svg"
            />

            <div class="left-side1">
              <div class="time1">
                <div class="div2">9:41</div>
              </div>
            </div>
          </div>
          <div class="div3">9:41</div>
          <img class="right-side-icon3" alt="" src="../static/img/right-side1.svg" />
        </div>
        <div class="bottom-panel"></div>
        <img class="chat-icon" alt="" src="../static/img/chat-icon@2x.png" />

        <img
          class="profile-button-icon"
          alt=""
          src="../static/img/profile-icon@2x.png"
        />

        <div class="home-icon">
          <img
            class="home-outline-icon"
            alt=""
            src="../static/img/home-outline@2x.png"
          />

          <div class="home-right-fill"></div>
          <div class="home-left-fill"></div>
          <img class="home-top-fill" alt="" src="../static/img/home-top-fill.svg" />
        </div>
        <div class="home-indicator1"></div>
        <div class="saved-2-master">
          <div class="saved-2">
            <img
              class="saved-2-image"
              alt=""
              src="../static/img/saved-2-image@2x.png"
            />

            <b class="name1">1459 Gay St</b>
            <div class="price1">
              <div class="month">$2000/month</div>
            </div>
            <div class="dates1">
              <div class="month">June 5 - August 15</div>
            </div>
            <div class="ellipse-container">
              <div class="group-child"></div>
              <img
                class="icons8-trash-60-1"
                alt=""
                src="../static/img/icons8trash60-1@2x.png"
              />
            </div>
            <div class="group-div">
              <div class="group-child"></div>
              <img
                class="icons8-message-96-1-1"
                alt=""
                src="../static/img/icons8message96-1-11@2x.png"
              />
            </div>
          </div>
          <div class="location">
            <img class="map-pin-icon1" alt="" src="../static/img/mappin1.svg" />
          </div>
          <div class="west-village">west village • studio</div>
        </div>
      </div>
    </div>
  </body>
</html>
