<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/globals-bio.css" />
    <link rel="stylesheet" href="../static/css/styleguide-bio.css" />
    <link rel="stylesheet" href="../static/css/style-bio.css" />
  </head>
  <body>
    <div class="BIO-MASTER">
      <div class="BIO-wrapper">
        <div class="BIO">
          <div class="logo">Lettr</div>
          <div class="home-indicator"></div>
          <p class="text-wrapper">Optionally, include a bio with any other important info.</p>
          <p class="div">You may want to include: living habits, roommates, pets, etc.</p>
          <div class="bio-input"></div>
          <a href="{{ url_for('personal') }}">
          <img class="back-arrow" src="../static/img/back-arrow.png" />
        </a>
          <div class="continue-button">
            <a href="{{ url_for('prefs') }}">
            <div class="overlap-group"><div class="text-wrapper-2">Continue</div></div>
          </a>
          </div>
          <div class="iphone-top">
            <div class="overlap">
              <div class="status-bar-iphone-x">
                <div class="notch"><img class="img" src="../static/img/notch-12.svg" /></div>
              </div>
              <div class="text-wrapper-3">9:41</div>
              <img class="right-side" src="../static/img/right-side-8.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
