<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/chatmaster.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=SF Pro Display:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="chat-master">
      <div class="divider">
        <div class="ignore-forced-height"></div>
      </div>
      <div class="chat-home">
        <b class="chats">Chats</b>
        <img class="archive-icon" alt="" src="../static/img/archive-icon@2x.png" />

        <img
          class="preferences-icon"
          alt=""
          src="../static/img/preferences-icon@2x.png"
        />

        <div class="home-indicator1"></div>
        <div class="chat-3">
          <img
            class="chat-3-preview"
            alt=""
            src="../static/img/chat-3-preview@2x.png"
          />

          <b class="my-dogs-name">My dog’s name is Liam!</b>
          <b class="logan-w-116th">Logan: W 116th & Amsterdam</b>
        </div>
        <div class="message-notif"></div>
        <div class="iphone-top1">
          <div class="status-bar-iphone-x-or-newe1">
            <img class="notch-icon1" alt="" src="../static/img/notch.svg" />

            <img
              class="right-side-icon2"
              alt=""
              src="../static/img/right-side.svg"
            />

            <div class="left-side1">
              <div class="time1">
                <div class="div2">9:41</div>
              </div>
            </div>
          </div>
          <div class="div3">9:41</div>
          <img class="right-side-icon3" alt="" src="../static/img/right-side1.svg" />
        </div>
        <div class="bottom-panel">
          <div class="icon-box"></div>
          <a href="{{ url_for('chat') }}">
          <button>
          <img class="chat-icon" alt="" src="../static/img/chat-icon@2x.png" />
          </button>
          </a>
          <div class="home-icon">
            <a href="{{ url_for('swipe') }}">
            <button class="home-button">
            <img
              class="home-outline-icon"
              alt=""
              src="../static/img/home-outline@2x.png"
            />
            
            <div class="home-right-fill"></div>
            <div class="home-left-fill"></div>
            <img
              class="home-top-fill"
              alt=""
              src="../static/img/home-top-fill.svg"
            />
            </button>
            </a>
          </div>
          <a href="{{ url_for('personal') }}">
          <button>
          <img class="profile-icon" alt="" src="../static/img/profile-icon@2x.png" />
          </button>
          </a>
        </div>
      </div>
      <b class="awaiting-response">Awaiting Response</b>
      <b class="matches">Matches</b>
      <img class="likes-panel-icon" alt="" src="../static/img/likes-panel@2x.png" />

      <div class="divider1">
        <div class="ignore-forced-height"></div>
      </div>
      <div class="chat-2">
        <img
          class="chat-3-preview"
          alt=""
          src="../static/img/chat-2-preview@2x.png"
        />

        <b class="you-can-pass">You can pass by anytime bet..</b>
        <b class="steven-franklin">Steven: Franklin & Broadway</b>
      </div>
      <div class="divider2">
        <div class="ignore-forced-height"></div>
      </div>
      <div class="divider3">
        <div class="ignore-forced-height"></div>
      </div>
      <div class="chat-1">
        <img
          class="chat-3-preview"
          alt=""
          src="../static/img/chat-1-preview@2x.png"
        />

        <b class="are-the-neighbors">Are the neighbors loud?</b>
        <b class="emily-e-72nd">Emily: E 72nd & Lexington</b>
      </div>
      <div class="divider4">
        <div class="ignore-forced-height"></div>
      </div>
      <div class="chat-0">
        <b class="sounds-good">Sounds good!</b>
        <b class="adam-6th">Adam: 6th & 9th</b>
        <img
          class="chat-3-preview"
          alt=""
          src="../static/img/chat-0-preview@2x.png"
        />
      </div>
    </div>
  </body>
</html>
