<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/final-swipe.css" />
    <link rel="stylesheet" href="../static/css/globals-chat.css" />
    <link rel="stylesheet" href="../static/css/styleguide-chat.css" />
    <link rel="stylesheet" href="../static/css/style-chat.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/chatmaster.js') }}"></script>
    <script src="../static/js/chatmaster.js"></script>

    <script>
      var data = {{data|tojson}}
    </script>
  </head>
  <body>
    <div class="CHAT-MASTER">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="divider"><div class="ignore-forced-height"></div></div>
          <div class="CHAT-HOME">
            <div class="text-wrapper">Chats</div>
            <a href="{{ url_for('prefs') }}">
            <img class="preferences-icon" src="../static/img/preferences-icon.png" />
            </a>
            <div class="chat">
              <div class="overlap-group">
                <div class="div">
                  <!-- <img class="chat-preview" src="../static/img/chat-3-preview.png" />
                  <p class="logan-w">Logan: W 116th &amp; Amsterdam</p>
                  <p class="p">My dog’s name is Liam!</p> -->
                </div>
                
              </div>
            </div>
            <!-- <div class="message-notif"></div> the new message icon -->
            <div class="iphone-top">
              <div class="overlap-2">
                <div class="status-bar-iphone-x">
                  <div class="notch"><img class="img" src="../static/img/notch-11.svg" /></div>
                </div>
                <div class="text-wrapper-2">9:41</div>
                <img class="right-side" src="../static/img/right-side-8.png" />
              </div>
            </div>
            <div class="bottom-panel1"></div>
            <a href="{{ url_for('chat') }}">
            <img class="chat-icon1" alt="" src="../static/img/chat-icon@2x.png" />
            </a>
            <a href="{{ url_for('personal') }}">
            <img
              class="profile-button-icon1"
              alt=""
              src="../static/img/profile-icon@2x.png"
            />
            </a>
            <div class="home-icon1">
              <a href="{{ url_for('swipe') }}">
              <img
                class="home-outline-icon1"
                alt=""
                src="../static/img/home-outline@2x.png"
              />
              </a>
              <div class="home-right-fill1"></div>
              <div class="home-left-fill1"></div>
              <img class="home-top-fill1" alt="" src="../static/img/home-top-fill.svg" />
            </div>
            <div class="home-indicator2"></div>
          <div class="text-wrapper-3">Awaiting Response</div>
          <div class="text-wrapper-4">Matches</div>
          <div class="likes-panel">
            <!-- <img class="like-preview" src="../static/img/like-2-preview.png" />
            <img class="like-preview-2" src="../static/img/like-3-preview.png" />
            <img class="like-preview-3" src="../static/img/like-4-preview.png" />
            <img class="like-preview-4" src="../static/img/like-1-preview.png" /> -->
          </div>
          <div class="ignore-forced-height-wrapper"><div class="ignore-forced-height"></div></div>
          <div class="chat-2">
            <!-- <img class="chat-preview" src="../static/img/chat-2-preview.png" />
            <p class="text-wrapper-5">You can pass by anytime bet..</p>
            <div class="name-addr">Steven: Franklin &amp; Broadway</div> -->
          </div>
          <div class="div-wrapper"><div class="ignore-forced-height"></div></div>
          <div class="divider-2"><div class="ignore-forced-height"></div></div>
          <div class="chat-3">
            <!-- <img class="chat-preview" src="../static/img/chat-1-preview.png" />
            <div class="text-wrapper-6">Are the neighbors loud?</div>
            <p class="emily-e">Emily: E 72nd &amp; Lexington</p> -->
          </div>
          <div class="divider-3"><div class="ignore-forced-height"></div></div>
          <div class="overlap-group-wrapper">
            <div class="overlap-4">
              <div class="overlap-5">
                <!-- <div class="text-wrapper-7">Sounds good!</div>
                <div class="adam">Adam: 6th &amp; 9th</div>
                <img class="chat-preview" src="../static/img/chat-0-preview.png" /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
