<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/expanded-master.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="expanded-master">
      <div class="expanded-1">
        <img
          class="rectangle-encapsulator-icon"
          alt=""
          src="../static/img/rectangle-encapsulator.svg"
        />
        <b class="name5">6th Ave &amp; 9th St</b>
        <div class="pricemo">
          <div class="price4">$2000</div>
          <div class="month5">/month</div>
        </div>
        <div class="info1">
          <img class="map-pin-icon5" alt="" src="../static/img/mappin2.svg" />

          <div class="greenwich-village2">
            GREENWICH VILLAGE • 3 BED : 2 BATH
          </div>
        </div>
        <div class="rooms">
          <div class="room-available">1 room available</div>
        </div>
        <b class="subway-lines-nearby">subway lines nearby</b>
        <b class="amenities">amenities</b>
        <div class="subway-lines">
          <div class="line-1-circle-parent">
            <div class="line-1-circle"></div>
            <b class="a">A</b>
          </div>
          <div class="line-2-circle-parent">
            <div class="line-1-circle"></div>
            <b class="c">C</b>
          </div>
          <div class="line-3-circle-parent">
            <div class="line-1-circle"></div>
            <b class="e">E</b>
          </div>
          <div class="line-4-circle-parent">
            <div class="line-4-circle"></div>
            <b class="b">B</b>
          </div>
          <div class="line-5-circle-parent">
            <div class="line-4-circle"></div>
            <b class="d">D</b>
          </div>
          <div class="line-6-circle-parent">
            <div class="line-4-circle"></div>
            <b class="f">F</b>
          </div>
          <div class="line-7-circle-parent">
            <div class="line-4-circle"></div>
            <b class="m">M</b>
          </div>
        </div>
        <div class="in-unit-laundry">
          <ul class="wifi-included-dog-friendly">
            <li class="wifi-included">In-Unit Laundry</li>
          </ul>
        </div>
        <div class="message-button">
          <div class="message-rectangle"></div>
          <div class="message">Message</div>
        </div>
        <div class="archive-button">
          <div class="archive-rectangle"></div>
          <div class="archive">Archive</div>
        </div>
        <div class="letters">
          <div class="letter-names">Adam & Zach</div>
          <div class="hosted-by">Hosted By</div>
          <img
            class="second-letter-icon"
            alt=""
            src="../static/img/second-letter@2x.png"
          />

          <img
            class="first-letter-icon"
            alt=""
            src="../static/img/first-letter@2x.png"
          />
        </div>
        <img class="image-icon" alt="" src="../static/img/image@2x.png" />

        <img class="map-pic-icon" alt="" src="../static/img/map-pic1@2x.png" />

        <img class="x-icon" alt="" src="../static/img/x-icon@2x.png" />

        <img class="area-circle-icon" alt="" src="../static/img/area-circle.svg" />

        <div class="frame">
          <div class="may-31-august-15-container">
            <div class="room-available">May 31 - August 15</div>
          </div>
        </div>
        <div class="wifi-included-dog-friendly-container">
          <ul class="wifi-included-dog-friendly">
            <li class="wifi-included">WiFi Included</li>
            <li>Dog-Friendly</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
