<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/css/globals-pers.css" />
    <link rel="stylesheet" href="../static/css/styleguide-pers.css" />
    <link rel="stylesheet" href="../static/css/style-pers.css" />
  </head>
  <body>
    <div class="PERSONAL-INFO-MASTER">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="PERSONAL-INFO">
            <div class="logo">Lettr</div>
            <div class="home-indicator"></div>
            <img class="profile-pic" src="../static/img/profile-pic.svg" />
            <div class="name"><input class="your-name" placeholder="Your name" type="text" /></div>
            <div class="school"><div class="text-wrapper">Your school</div></div>
            <div class="overlap-group">
              <div class="job"><div class="text-wrapper">Your occupation</div></div>
              <div class="div">.</div>
            </div>
            <div class="gender"><div class="text-wrapper">Your gender</div></div>
            <div class="age"><div class="text-wrapper-2">Your age</div></div>
            <a href="{{ url_for('swipe') }}">
            <img class="back-arrow" src="../static/img/back-arrow.png" />
          </a>
            <div class="continue-button">
              <a href="{{ url_for('bio') }}">
              <div class="div-wrapper"><div class="text-wrapper-3">Continue</div></div>
            </a>
            </div>
            <div class="iphone-top">
              <div class="overlap-2">
                <div class="status-bar-iphone-x">
                  <div class="notch"><img class="img" src="../static/img/notch-2.svg" /></div>
                </div>
                <div class="text-wrapper-4">9:41</div>
                <img class="right-side" src="../static/img/right-side.png" />
              </div>
            </div>
          </div>
          <div class="text-wrapper-5">My name is</div>
          <div class="text-wrapper-6">I am</div>
          <div class="text-wrapper-7">.</div>
          <div class="text-wrapper-8">I identify as a</div>
          <div class="text-wrapper-9">.</div>
          <div class="text-wrapper-10">My occupation is</div>
          <div class="text-wrapper-11">.</div>
          <div class="text-wrapper-12">I study at</div>
          <div class="text-wrapper-13">years old .</div>
        </div>
      </div>
    </div>
  </body>
</html>
